.hero_section{
    background: var(--hero-bg);
}

.hero_section h2{
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 0px;
}

.hero_section p{
    color:var(--primary-color);
    line-height: 28px;

}

.hero_section p:nth-child(1){

}

.buy_btn{
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;
}

.buy_btn a:hover{
    color:#fff;
}

.hero_container{
    padding-top:45px;
}

.timer_count{
    background: var(--primary-color);
    height: 300px;
}

.timer_count img{
    width: 70% !important;
    height: 70% !important;
    object-fit: contain;
}

.store_btn{
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
}

.store_btn a:hover{
    color: var(--primary-color);
}



/*-------------Media Queries-------------*/


@media only screen and (max-width: 992px){
    .hero_container h2{
        font-size: 2rem;
    }

    .section_title{
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 768px){
    .hero_container h2{
        font-size: 1.6rem;
    }

    .hero_container p {
        font-size: 0.9rem;
    }

    .buy_btn{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 576px){
    .hero_container{
        padding-top: 0;
        margin-bottom: 40px;
    }
}