.hero_section{
    background: var(--hero-bg);
}

.hero_section h2{
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 600;
    margin: 20px 0px;
}

.hero_section p{
    color:var(--primary-color);
    line-height: 28px;

}

.hero_section p:nth-child(1){

}

.buy_btn{
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;
}

.buy_btn a:hover{
    color:#fff;
}

.hero_container{
    padding-top:45px;
}